<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JsonBasicTester/src/com/technoangel/json/JsonBasicTester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.technoangel.json.JsonBasicTester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JsonBasicTester"/>
</launchConfiguration>
